{%extends 'base.html' %}
{%load static%}
{%block content%}
<main>
    <h1>Create an account!</h1>

</br>

    <form action="" method="POST">

        {%csrf_token%}
        {{form.login.label_tag}} {{form.login}}
        {{form.password.label_tag}} {{form.password}}
        <input class = 'btn btn-primary' type="submit" value="Create">

    </form>
    <br>

    {%if invalid_email%}
    Email is taken!
    {%endif%}
    
    <img src="{%static 'wallet/pgb-chip-crypto-3.svg'%}">
</main>
{%endblock%}