{%extends 'base.html' %}

{%block content%}
    <h1>Create an account!</h1>

</br>

    <form action="" method="POST">
        {%csrf_token%}
    <div class="mb-3 form-center"> 
        {{form.login.label_tag}} {{form.login}}
    </div>
    <div class="mb-3 form-center">
        {{form.password.label_tag}} {{form.password}}
    </div>
        <input class = 'btn btn-primary' type="submit" value="submit">
    </form>
    <br>
    {%if invalid_email%}
    Email is taken!
    {%endif%}
{%endblock%}